.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: calc(10px + 2vmin);
  width: 100%;
  height: 40px;
  position: fixed;
  justify-content: space-around;
}

.navbar button {
  height: 100%;
  color: #61dafb;
}

.GameLobby {
  width: 20%;
  text-align: center;
  line-height: 40px;
}

.GameLobby:hover {
  background-color: aqua;
}

.UploadFile {
  width: 20%;
  text-align: center;
  line-height: 40px;
}

.UploadFile:hover {
  background-color: aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
