.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: calc(10px + 2vmin);
  width: 100%;
  height: 64px;
  position: fixed;
  justify-content: space-around;
  background-color: #444444;
}

.navbar div {
  height: 100%;
  line-height: normal;
  color: white;
}

.navbar div img {
  height: 32px;
  width: 32px;
}

.navbar button {
  height: 70%;
  color: #61dafb;
}

.GameLobby {
  width: 20%;
  text-align: center;
  line-height: 40px;
}

.GameLobby:hover {
  background-color: aqua;
  cursor: pointer;
}

.UploadFile {
  width: 20%;
  text-align: center;
  line-height: 40px;
}

.UploadFile:hover {
  background-color: aqua;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}
